<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th style="display:none">Program</th>
      <th style="display:none">Agency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.department.description %></td>
        <td style="display:none"><%= service&.program&.name %></td>
        <td style="display:none"><%= service&.agency&.name %></td>
        <td><%= link_to 'Show', service, class: 'govuk-link govuk-link--no-visited-state' %></td>
        <td><%= link_to 'Edit', edit_service_path(service), class: 'govuk-link govuk-link--no-visited-state' %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: 'govuk-link govuk-link--no-visited-state' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path, class: 'govuk-button' %>
<br>
<%= link_to 'Return to dashboard', root_path, class: 'govuk-link govuk-link--no-visited-state' %>