<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @service.department.description %>
</p>

<p>
  <strong>Program:</strong>
  <%= @service.program.name %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @service.agency.name %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
