

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      	<h1 class="govuk-heading-xl">Departmental Systems Dashboard v03</h1>


		<p>
		<%= button_to 'View/Update Departments', 'departments', :class => 'govuk-button', :method => :get %>
		<br>
		<%= button_to "View/Update Systems", 'systems', :class => 'govuk-button', :method => :get %>
		<br>
		<%= button_to "View/Update Services", 'services', :class => 'govuk-button', :method => :get %>




		
		<br>

		<ul class="govuk-list">
			<li>
				<%= link_to "List Agencies", controller: 'agencies', :class => 'govuk-link' %>
			</li>
			<li>
				<%= link_to "List Programs", controller: 'programs', :class => 'govuk-link' %>
			</li>
			<li>
				<%= link_to "List System-Department Links", controller: 'system_departments', :class => 'govuk-link' %>
			</li>
			<li>
				<%= link_to "List System-System Links", controller: 'system_links', :class => 'govuk-link' %>
			</li>
			<li>
				<%= link_to "List Protocols", controller: 'protocols', :class => 'govuk-link' %>
			</li>
		</ul>
	</div>


	<div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Top 10 System List</h3>    

        <br> 
        
		<table>
		  <thead>
		    <tr>
		      <th>Acronymn</th>
		      <th>Name</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @top_ten_results.each do |system| %>
		      <tr>
		        <td><%= system.acronymn %></td>
		        <td><%= system.name %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br><br>
	<%= button_to "Refresh", '/refresh', :class => "govuk-button", :method => :post %>

    </div>
</div>



</div>
