

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      	<h1 class="govuk-heading-xl">Dashboard v02</h1>
		<p>
		<%= link_to 'EU Exit Dashboard', controller: 'eu_exit_dash' %>
		</p>


		<hr>

		<p>
		<%= button_to 'View/Update Departments', 'departments', :class => 'govuk-button', :method => :get %>
		<br>
		<%= button_to "View/Update Systems", 'systems', :class => 'govuk-button', :method => :get %>
		<br>
		<%= button_to "View/Update Services", 'services', :class => 'govuk-button', :method => :get %>




		
		<br>
		<%= link_to "List Agencies", controller: 'agencies' %>
		<br>
		<%= link_to "List Programs", controller: 'programs' %>
		</p>

		<p>
		<%= link_to "List System-Department Links", controller: 'system_departments' %>
		<br>
		<%= link_to "List System-System Links", controller: 'system_links' %>
		<br>
		<%= link_to "List Protocols", controller: 'protocols' %>

		</p>
	</div>


	<div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Top 10 System List</h3>    

        <hr><br> 
        
		<table>
		  <thead>
		    <tr>
		      <th>Acronymn</th>
		      <th>Name</th>
		      <th colspan="2"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @top_ten_results.each do |system| %>
		      <tr>
		        <td><%= system.acronymn %></td>
		        <td><%= system.name %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<br><hr><br>
	<%= button_to "Refresh", '/refresh', :class => "govuk-button", :method => :post %>

    </div>
</div>
