<%= form_with(model: system, local: true) do |form| %>
  <% if system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :acronymn, class: "govuk-label" %>
    <%= form.text_field :acronymn, class: "govuk-input govuk-input--width-5" %>
  </div>

  <div class="field">
    <%= form.label :name, class: "govuk-label" %>
    <%= form.text_field :name, class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "govuk-label" %>
    <%= form.text_field :description, class: "govuk-input govuk-input--width-20" %>
  </div>

  <div class="field" style="display:none">
    <%= form.label :importance, class: "govuk-label" %>
    <%= form.number_field :importance, disabled: true, style: "border:none", class: "govuk-input govuk-input--width-2" %>
  </div>


  <%= form.fields_for :system_departments do | sysdept | %>
  <div class="field">
    <%= sysdept.label :department_id, class: "govuk-label" %>
     <%= sysdept.collection_select(:department_id, Department.all, :id, :name, {prompt: "Select a department"}, {class: "govuk-select"}) %>
  </div>
  <% end %> 

  <br>

 

 
   <table class="govuk-table" id="linked_sys_tbl">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Linked System</th>
          <th class="govuk-table__header">Protocol</th>
          <th class="govuk-table__header"></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

<%= form.fields_for :system_links do | syslink | %>

          

        <tr class="govuk-table__row">
          <td style="display:none">
            <%= syslink.text_field :system_a_id %>
            <%= syslink.text_field :id, class: "this_id" %>
          </td>

          <td class="govuk-table__header"><%= syslink.collection_select(:system_b_id, System.all, :id, :acronymn, {:include_blank=> "Select a system"}, {class: "govuk-select selectValid"}) %></td>
          <td class="govuk-table__header"><%= syslink.collection_select(:protocol, Protocol.all, :name, :name, {:include_blank=> "Select a protocol"}, {class: "govuk-select"}) %></td>
          <td class="govuk-table__header"><inpt type="button" id="destroy_link" class="govuk-link govuk-link--no-visited-state remove_link">destroy link</input></td>
        </tr>

<% end %>

      </tbody>
      <tfoot>
    <tr>
      <td><input type="button" id="add_new_system" class="govuk-button" value="Add System"></td>
      <td></td><td></td>
    </tr>
  </tfoot>
    </table>



<div>

  <div class="actions">
    <%= form.submit class: "govuk-button" %>
  </div>
<% end %>



