<p id="notice"><%= notice %></p>

<h1>Systems</h1>

<table>
  <thead>
    <tr>
      <th>Acronymn</th>
      <th>Name</th>
      <th style="display:none">Description</th>
      <th style="display:none">Importance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.acronymn %></td>
        <td><%= system.name %></td>
        <td style="display:none"><%= system.description %></td>
        <td style="display:none"><%= system.importance %></td>
        <td><%= link_to 'Show', system, class: 'govuk-link govuk-link--no-visited-state' %></td>
        <td><%= link_to 'Edit', edit_system_path(system), class: 'govuk-link govuk-link--no-visited-state' %></td>
        <td><%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' }, class: 'govuk-link govuk-link--no-visited-state' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_system_path, class: 'govuk-button' %>
<br>
<%= link_to 'Return to dashboard', root_path, class: 'govuk-link govuk-link--no-visited-state' %>