<p id="notice"><%= notice %></p>

<p>
  <strong>Acronymn:</strong>
  <%= @system.acronymn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @system.description %>
</p>

<p>
  <strong>Department:</strong>
  <%= @dept_name %>
</p>

<p>
  <strong>Linked Systems:</strong>
  <%= @syslinks %>
</p>



<%= link_to 'Edit', edit_system_path(@system) %> |
<%= link_to 'Back', systems_path %>
